src/test/resources/schema.dtd

<!ELEMENT dataset (courses*, semesters*, groups*, students*, student_course*, teachers*, teacher_course*,
					rooms*, timetables*, daily_timetables*, time_slots*)>

<!ELEMENT courses EMPTY>
<!ATTLIST courses
	id ID #REQUIRED
	name CDATA #REQUIRED
	ancestor IDREF #IMPLIED
>

<!ELEMENT semesters EMPTY>
<!ATTLIST semesters
	id ID #REQUIRED
	year_of_study CDATA #REQUIRED
	period CDATA #REQUIRED
>

<!ELEMENT groups EMPTY>
<!ATTLIST groups
	id ID #REQUIRED
	name CDATA #REQUIRED
	major CDATA #REQUIRED
	department CDATA #REQUIRED
	semester_id IDREF #IMPLIED
>

<!ELEMENT students EMPTY>
<!ATTLIST students
	id ID #REQUIRED
	first_name CDATA #REQUIRED
	last_name CDATA #REQUIRED
	tax_number CDATA #REQUIRED
	phone_number CDATA #IMPLIED
	email CDATA #IMPLIED
	student_card_number CDATA #IMPLIED
	group_id IDREF #IMPLIED
>

<!ELEMENT student_course EMPTY>
<!ATTLIST student_course
	student_id IDREF #REQUIRED
	course_id IDREF #REQUIRED
>

<!ELEMENT teachers EMPTY>
<!ATTLIST teachers
	id ID #REQUIRED
	first_name CDATA #REQUIRED
	last_name CDATA #REQUIRED
	tax_number CDATA #REQUIRED
	phone_number CDATA #IMPLIED
	email CDATA #IMPLIED
	degree CDATA #IMPLIED
	group_id IDREF #IMPLIED
>

<!ELEMENT teacher_course EMPTY>
<!ATTLIST teacher_course
	teacher_id IDREF #REQUIRED
	course_id IDREF #REQUIRED
>

<!ELEMENT rooms EMPTY>
<!ATTLIST rooms
	id ID #REQUIRED
	symbol CDATA #REQUIRED
	capacity CDATA #IMPLIED
>

<!ELEMENT timetables EMPTY>
<!ATTLIST timetables
	id ID #REQUIRED
	symbol CDATA #REQUIRED
	capacity CDATA #IMPLIED
>

<!ELEMENT daily_timetables EMPTY>
<!ATTLIST daily_timetables
	id ID #REQUIRED
	date CDATA #REQUIRED
	timetable_id IDREF #IMPLIED
>

<!ELEMENT time_slots EMPTY>
<!ATTLIST time_slots
	id ID #REQUIRED
	start_time CDATA #REQUIRED
	end_time CDATA #REQUIRED
	course_id IDREF #IMPLIED
	teacher_id IDREF #IMPLIED
	group_id IDREF #IMPLIED
	room_id IDREF #IMPLIED
	daily_timetalbe_id IDREF #IMPLIED
>



